<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lib.Properties.Settings.БиблиотекаConnectionString"
            connectionString="Data Source=USER-638D5FB763\MS_SQL_SERVER;Initial Catalog=Библиотека;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>